 
<div class="row">
  <div class="col-sm-6">
    <div class="card">
    <div class="tata">
 <h1>Dernières actualités</h1>
 <p>Je suis un peintre qui a des versions recents des produits</p>
 </div>
     {% for Blogpost in Blogposts %}
      <div class="card-body">
        <h5 class="card-title">titre de l'actualité</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn">publié le 01/02/2021</a>
      </div>
      
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
    <div class="tata">
 <h1>Dernières actualités</h1>
 <p>Je suis un peintre qui a des versions recents des produits</p>
 </div>
      <div class="card-body">
        <h5 class="card-title">titre de l'actualité</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
           <time datetime="2019-05-02">publiée le {{blogpost.createAt|date('d/m/y')}} </time>
        <a href="#" class="btn btn">publié le 01/02/2021</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
 <style>

 .tata{
  text-align: center;
 }
 </style>