 <div class="toto">
 <h1>Dernières réalisations</h1>
 <p>les realisations augmentent chaque jours</p>
 <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
    
    
      <img src="{{asset ('assets/images/cover-7.jpg')}}" class="img-fluid rounded-start" alt="..." data-aos="fade-right">
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body"> 
        <h5 class="card-title">Titre de la peinture</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      
    </div>
  </div>
</div>


<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
    
      <img src="{{asset ('assets/images/cover-7.jpg')}}" class="img-fluid rounded-start" alt="..." width="1000" height="1000">
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body"> 
        <h5 class="card-title">Titre de la peinture</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>


        <h3>
            
        </h3>
        <p class="mb-0 text-muted">
        

        </p>

        <p>
            <time datetime="2019-05-29">Ajoutée le {{peinture.createAt|date('d/m/y')}}
        </p>
    
    </div>
  </div>
</div>
</div>
 
 <style>
.col-md-4{
    height: 40px;

}
.toto{
    text-align:center;
    display: flex;
    flex-direction: Column;
    justify-content:center;
    align-items:center;

}


 </style>
 
 
 
