<div class="card text-bg-dark">
<div class="aa">
  <img src="{{asset ('assets/images/cover-8.jpg')}}" class="card-img" alt="...">
  </div>
  <div class="card-img-overlay">
    <h5 class="card-title">Antoine Bernabeu</h5>
    <p class="card-text">Artiste peintre à chomérac au coeur de l'adèche.</p>
    <div class="amb">
    <!... button ...>
    <a class="btn btn btn-primary lift ms-auto" >découvrir mon porfolio</a>
    </div>
  </div>
</div>


<style>
.card-title{
    text-align: center;
    margin-top: 150px
}
.card-text{
    text-align: center;
}
.amb{
    text-align: center;
    color: blue;
}
.aa{
    height: 865px;
}
</style>