{% extends 'base.html.twig' %}

{% block title %}Hello RealisationController!{% endblock %}

{% block body %}
  <div class="img">
</div>






{# <img src="{{asset ('assets/img/covers/cover-8.jpg')}}" alt="" width="25" height="25">  #}
<style>
.img{
  background-image: url({{asset('assets/images/cover-8.jpg')}});
  height: 500px;
}


</style>
{% endblock %}
