{% extends 'base.html.twig' %}

{% block title %}Hello RealisationController!{% endblock %}

{% block body %}
   
</div>

 




{# <img src="{{asset ('assets/img/covers/cover-8.jpg')}}" alt="" width="25" height="25">  #}
<style>

.img {
  height: 500px;
  background-image: url({{asset('assets/images/cover-8.jpg')}});
  

}

</style>
{% endblock %}
